# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/build/resources/main/application.yml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.8/checksums/checksums.lock
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.8/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/build/tmp/compileJava/compileTransaction/stash-dir/CreateUserRequest.class.uniqueId6
/build/tmp/compileJava/compileTransaction/stash-dir/CreateUserResponse$CreateUserResponseBuilder.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/CreateUserResponse.class.uniqueId5
/src/main/java/com/example/instagramclone/dto/response/CreateUserResponseDto.java
/.gradle/file-system.probe
/build/tmp/compileJava/compileTransaction/stash-dir/GlobalExceptionHandler.class.uniqueId4
/.gradle/8.8/checksums/md5-checksums.bin
/build/tmp/compileJava/compileTransaction/stash-dir/SecurityConfig.class.uniqueId1
/.gradle/8.8/checksums/sha1-checksums.bin
/build/tmp/compileJava/compileTransaction/stash-dir/UserController.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/UserService.class.uniqueId7
/build/tmp/compileJava/compileTransaction/stash-dir/UserServiceImpl.class.uniqueId3

application.yml
application-*.yml